# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
examples/basic/basic.js.map
examples/basic/basic.js
examples/unwritableTime/unwritableTime.js
examples/unwritableTime/unwritableTime.js.map
examples/component/component.js
examples/component/component.js.map

node_modules/