<!DOCTYPE html>
<html>

<head>
    <title>Test Vue</title>
    <style type="text/css">
    [v-cloak] {
        display: none
    }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        integer: <span> {{ integer }} </span>
        <br>
        <div>Field Func: {{ Now() }}</div>
        <div>Methond Func: {{ WhatTF() }}</div>
        <div>DoubleInt: {{ DoubleInt() }}</div>
        <template v-for="item in AllItems">
            <label style="display: inline;">
                {{item}}
                <input type="checkbox" :id="item" :value="item" v-model="CheckedItems" />
            </label>
        </template>
        <div>
            <span>CheckedItems: {{ CheckedItems }}</span>
        </div>
        <input v-model="integer">
        <button @click="Inc">Inc</button>
        <button @click="Repeat">Repeat</button>
        <button @click="PopulateTodo">PopulateTodo</button>
        <button @click="PopulateTodo2">PopulateTodo2</button>
        <button @click="ShiftTodo">ShiftTodo</button>
        <button @click="MapTodos">MapTodos</button>
        <li v-for="item in list">
            {{ item }}
        </li>
        <input v-model="str" />
        Todos:<br>
        <ul v-for="todo in todos">
            <li>{{todo.time | timeFormat}} - {{todo.content}}</li>
        </ul>
        <p>{{str}}</p>
    </div>
    <script type="text/javascript" src="features.js"></script>
</bodyk

</html>
